@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
/* Geral */
:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-green-light: hsl(148, 23%, 89%);
  --bg-light: hsl(180, 14%, 97%);
  font-size: 62.5%;
  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  /* background-color: hsl(148, 23%, 89%); */
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  overflow: overlay;
  background-color: var(--bg-light);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  color: var(--paragraph);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
}
/* Nav */
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scroll {
  background-color: var(--primary-color);
}

nav.scroll .logo path {
  fill: #FFF;
}

nav.scroll button path {
  stroke: #FFF;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Menu-Expanded */
.menu {
  transform: translateY(100%);
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 300ms;
  transform: translateY(0%);
}

.menu ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.menu ul a {
  color: var(--brand-beige);
  text-decoration: none;
}

.menu .button {
  background: #FFF;
  color: var(--primary-color);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 4.8rem auto 8rem auto;
  padding: 1.6rem 3.2rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: #FFF;
}

body.menu-expanded button path {
  stroke: #FFF;
}

/* Home */
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-green-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

#home button {
  height: 6.2rem;
  width: 26.3rem;
  border: none;
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin: 0 auto 6rem auto;
}

#home img {
  width: 26.4rem;
  display: block;
  margin: 0 auto;
}

#home .stats {
  width: 32.7rem;
  padding: 4rem 0;
  margin: 0 auto;
  gap: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--brand-green-light);
  background-color: var(--brand-beige);
  border-radius: 0.6rem;
}

#home .stat h3 {
  color: var(--headline);
  font-size: 4.8rem;
  text-align: center;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  line-height: 150%;
}

/* Services */
#services h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  background-color: #FFF;
  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--headline);
  margin-block: 1.6rem;
}

/* About */
#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-block: 2.4rem;
}