@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(148, 23%, 89%);
  font-family: 'DM Sans', sans-serif;
  text-align: center;
}

header {
  width: 37.5rem;
  margin: 4.1rem auto 0 auto;
}

h4 {
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

button {
  height: 6.2rem;
  width: 26.3rem;
  border: none;
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin: 0 auto 6rem auto;
}

/* img {

} */