@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
/* Geral */
:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-green-light: hsl(148, 23%, 89%);
  font-size: 62.5%;
  --nav-height: 7.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  /* background-color: hsl(148, 23%, 89%); */
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  overflow: overlay;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

/* Nav */
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scroll {
  background-color: var(--primary-color);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill: #FFF;
}

nav.scroll button path {
  stroke: #FFF;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Menu-Expanded */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
}

body.menu-expanded nav {
  position: relative;
}

.menu ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.menu ul a {
  color: var(--brand-beige);
  text-decoration: none;
}

.menu .button {
  background: #FFF;
  color: var(--primary-color);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 4.8rem auto 8rem auto;
  padding: 1.6rem 3.2rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: #FFF;
}

body.menu-expanded button path {
  stroke: #FFF;
}

/* Header */
header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-green-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h4 {
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

header button {
  height: 6.2rem;
  width: 26.3rem;
  border: none;
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin: 0 auto 6rem auto;
}

header img {
  width: 26.4rem;
  display: block;
  margin: 0 auto;
}

.stats {
  width: 32.7rem;
  padding: 4rem 0;
  margin: 0 auto;
  gap: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--brand-green-light);
  background-color: var(--brand-beige);
  border-radius: 0.6rem;
}

.stat h3 {
  color: var(--headline);
  font-size: 4.8rem;
  text-align: center;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 0.4rem;
}

.stat p {
  margin: 0;
  color: var(--primary-color);
  line-height: 150%;
}

